
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoperfil.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}}{{persona.apellido}}</p>
        <p> Full Stack Developer Jr </p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1> Acerca de mí </h1>
            <p> Estudiante de Guía de Turismo y Programación.
                Me considero una persona resolutiva, con buen ánimo y capaz de resolver problemas fácilmente. 
                Soy muy detallista y autodidacta cada día, nunca dejo de aprender y actualmente me encuentro 
                adquiriendo saberes y experiencias dentro del mundo de la Programación. Mi objetivo principal es 
                desarrollarme profesionalmente y evolucionar en este sector, de modo que busco oportunidades que 
                me permitan hacerlo, que me brinden estabilidad laboral, crecimiento profesional y personal 
                siempre alineandome completamente con los objetivos de la empresa. 
            </p>
        </span>
    </div>
</div>