<div class="row"> 
    <h1> Educación </h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>Bachiller con orientación en Ciencias Sociales - 
                Instituto Sagrada Familia, Cosquin. Finalizado en 2016.</li>
            <li>Estudiante de Técnico Superior en Guía de Turismo - Instituto Superior Arturo Umberto Illia,
                Villa Carlos Paz.</li>
            <li> Primeros pasos en el desarrollo Front-End - Argentina Programa 4.0. Finalizado en 2023.</li>
            <li>Estudiante de Programación. Argentina Programa.</li>
        </ul>
    </div>
</div>